<template>
  <div>

    <div class="login-container" v-if="!isLoading">
      <form id="login">
        <h2>Anmelden</h2>
        <div class="row">
          <div class="col-md-12 form-group">
            <input type="text" class="form-control" placeholder="Deine E-Mail Adresse" v-model="credentials.email">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 form-group">
            <input type="password" placeholder="Dein Passwort" class="form-control" v-model="credentials.password">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 form-group">
            <input type="submit" value="Anmelden" class="btn btn-block btn-login" @click="dispatchLogin"/>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <span class="register-now">Noch nicht registriert? Jetzt <router-link :to="{ name: 'Register' }">Registrieren</router-link>!</span>
          </div>
        </div>
      </form>
    </div>

    <div class="spinner-class" v-if="isLoading">
      <circle4></circle4>
    </div>


  </div>
</template>

<script>

  import {verify} from '@/api/auth';
  import {Circle4} from 'vue-loading-spinner';

  export default {
    name: 'Login',
    components: {
      Circle4
    },
    data() {
      return {
       credentials: {
        email: "",
        password: "",
      },
      isLoading: false,
    };
  },
  beforeCreate() {
    /*Wenn es um eine verifizierung geht*/
    if(this.$route.params.token){
      verify(this.$route.params.token).then( response => {
        alert(response);
      }).catch(error => {
        console.log(error);
        alert(error);
      });
    }
  },
  computed:{
    token(){
      return this.$store.getters.getToken;
    },
  },
  watch: {
    token(newValue, oldValue) {
      if(newValue!=null){
        this.$router.push({name:'Home'});
      }
    },
  },
  methods: {
    verify,
    dispatchLogin(){
      this.isLoading=true;
      this.$store.dispatch('login', this.credentials).then( response => {   
        /*redirect to the task - overview*/
        console.log("Login erfolgreich");
      }).catch(error => {
        console.log(error);
        alert(error);
      }).finally(() => {
        this.isLoading=false;
      });
    },
  }
};
</script>
<style type="text/css">

.login-container{
  width:300px;
  max-width:100%;
  margin:50px auto;
}

.login-container h2{
  margin-bottom: 30px;
  text-align:center;
  font-size:20px;
}

.login-container .btn-login{
  background-color:#4e73df;
  color:#fff;
}

.login-container .register-now{
  width: 100%;
  text-align: center;
  font-size: 12px;
  display: block;
}
</style>
