<template>
  <div>
    <!-- Page Wrapper -->
    <div id="wrapper" class="layout">

      <sidebar/>

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

          <navbar/>

          <!-- Begin Page Content -->
          <div class="container-fluid">

            <transition name="fade-transform" mode="out-in">
              <router-view :key="key" />
            </transition>

          </div>
          <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <my-footer class="mt-auto"/>

      </div>
      <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

  </div>

</template>

<script>
  import MyFooter from '@/components/Footer';
  import Sidebar from '@/components/Sidebar';
  import Navbar from '@/components/Navbar';

  export default {
    name: 'Layout',
    components: {
      MyFooter, Sidebar, Navbar,
    },
    created(){
    },
    data() {
      return {
        year: new Date().getFullYear(),
      };
    },
    computed: {
      key() {
        return this.$route.fullPath;
      },
    },
    methods: {
    },
  };
</script>
<style type="text/css">
.sidebar .bg-gradient-primary{
  background-color: transparent;
  background-image: none;
}

.sidebar{
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.sidebar .sidebar-brand {
  height: 6.375rem;
}

.layout .sidebar-brand-icon img{
  width: 180px;
}

</style>
