<template>
  <div class="edit-modal modal fade show" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Aufgabe bearbeiten</h5>
          <button type="button" class="close" @click="closeModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <form>

            <div class="form-group">
              <label for="title">Titel</label>
              <input type="text" class="form-control" id="title" placeholder="Titel der Aufgabe" v-model="task.title">
              <span v-if="titleError!=''" class="error" v-html="titleError"></span>
            </div>

            <div class="form-group">
              <label for="description">Beschreibung</label>
              <textarea class="form-control" id="description" rows="3" placeholder="Beschreibung" v-model="task.description"></textarea>
              <span v-if="descriptionError!=''" class="error" v-html="descriptionError"></span>
            </div>

            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="status" v-model="task.status">
              <label class="form-check-label" for="status" >Erledigt</label>
            </div>

          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary"@click="saveTask()">Speichern</button>
          <button type="button" class="btn btn-secondary"@click="closeModal()">Abbrechen</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import Resource from '@/api/resource';
  const taskResource = new Resource('tasks');

  export default {
    name: 'Edit-Task-Modal',
    props: {
      task: {
        type: Object,
        default: null,
        required: true,
      },
    },
    data() {
      return {
        titleError: "",
        descriptionError: "",
      };
    },
    methods: {
      closeModal(){
        this.$emit("closeModal");
      },
      saveTask(){
        /*validieren der Angaben*/
        if(this.validateForm()){
          /*speichern des Tasks*/
          this.updateTask();
          /*schließen des Modals*/
          this.$emit("closeModal");
        }
      },
      updateTask(){
        taskResource.update(this.task.id,this.task).then(() => {
          console.log("Task erfolgreich gespeichert");
        })
        .catch(error => {
          console.log(error);
        })
        .finally(() => {
          /*reload der Tasks im Elternelement triggern*/
          this.$emit("reloadTasks");
        });
      },
      validateForm(){
        if(this.task.title==""){
          this.titleError = "Geben Sie einen Titel für die Aufgabe an!";
        }
        else{
          /*zurücksetzen zu leerem String wenn kein Fehler vorliegt*/
          this.titleError = "";
        }

        if(this.task.description==""){
          this.descriptionError = "Geben Sie eine Beschreibung für die Aufgabe an!";
        }
        else{
          /*zurücksetzen zu leerem String wenn kein Fehler vorliegt*/
          this.descriptionError = "";
        }

        /*gebe false zurück falls die Validierung scheitert weil Werte fehlen*/
        if(this.titleError!="" || this.descriptionError!=""){
          return false;
        }

        /*ansonsten gebe wahr zurück*/
        return true;
      }
    }
  };
</script>

<style type="text/css">
.edit-modal.modal.fade.show{
  padding-right: 14px;
  display: block;
}

.edit-modal .error{
  color: red;
  font-size: 12px;
}

</style>
