<template>

  <div class="row task-row">
    <div class="col-sm-10">

      <div class="row">
        <div class="col-md-1">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" v-model="task.status" id="flexCheckDefault">
          </div>
        </div>
        <div class="col-md-3">
          <div class="title">{{task.title}}</div>
        </div>
        <div class="col-md-8">
          <div class="description inline-element">{{task.description}}</div>
        </div>
      </div>

    </div>
    <div class="col-sm-2 btn-col">

      <div class="btn edit-button" @click="editThisTask">
        <i class="fa fa-pencil-alt"></i>
      </div>
      <div class="btn trash-button" @click="deleteThis">
        <i class="fa fa-trash-alt"></i>
      </div>
      <div class="btn setting-button">
        <i class="fa fa-cogs"></i>
      </div>

    </div>
  </div>

</template>

<script>
  import Resource from '@/api/resource';
  const taskResource = new Resource('tasks');
  import { updateTaskStatus } from '@/api/task';

  export default {
    name: 'Task',
    props: {
      task: {
        type: Object,
        default: null,
        required: true,
      },
    },
    computed: {
      status() {
        /*leider ist der Watcher nicht fähig sich einzelne Elemente eines Objektes anzuschauen und dann auf Änderungen zu reagieren. Deshalb der Workaround über ein computed property in dem wir das Element ablegen das beobachtet werden soll*/
        return this.task.status;
      }
    },
    watch: {
      status: function (val) {
        /*der watcher schaut, ob es Änderungen am status des Tasks gibt und führt dann diesen Funktionsblock aus.*/
        /*zusammen bauen eines kleinen Objektes das nur den Status enthält und das wir an das Backend übergeben können*/
        var data = {'status':this.status};
        /*Hinweis:Es wäre deutlich einfacher gewesen einfach das ganze Task über die update Funktion an den Server zurück zu geben und es dabei bewenden zu lassen! Es geht hier nur um den Use-Case d.h. custom api-Funktion + computed + watcher*/
        this.updateTaskStatus(this.task.id, data);
      },
    },
    methods: {
      /*importieren der Funktion zum updaten des Task Status*/
      updateTaskStatus,
      editThisTask(){
        /*übermittle den Bearbeitungswunsch an das Elternelement mitsamt dem Element das bearbeitet werden soll*/
        this.$emit("editTask",this.task);
      },
      deleteThis(){
        taskResource.destroy(this.task.id).then(() => {
          console.log("Löschen hat geklappt");
        })
        .catch(error => {
          console.log(error);
        })
        .finally(() => {
          this.$emit('reloadTasks');
        });
      },
    },
  };
</script>
<style type="text/css">

</style>
