<template>

  <li class="nav-item">
    <a class="nav-link collapsed" @click="toggleDropdown()">
      <slot name="title"></slot>
    </a>
    <div class="collapse show" v-show="showTheDropdown">
      <div class="bg-white py-2 collapse-inner rounded">
        <slot name="links"></slot>
      </div>
    </div>
  </li>

</template>

<script>
  export default {
    name: 'dropDownNavItemWithSlots',
    props: {
      showDropdown: {
        type: Boolean,
        default: false,
        required: false,
      }, 
    },
    data() {
      return {
        showTheDropdown: false,
      };
    },
    created(){
      this.showTheDropdown = this.showDropdown;
    },
    computed: {
    },
    methods: {
      toggleDropdown(){
        this.showTheDropdown = this.showTheDropdown==true?false:true;
      },
    },
  };
</script>
<style type="text/css">

</style>
