<template>

  <li class="nav-item">
    <a class="nav-link collapsed" @click="toggleDropdown()">
      <i class="fas fa-fw fa-star"></i>
      <span>{{title}}</span>
    </a>
    <div class="collapse show" v-show="showTheDropdown">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" v-for="(link,index) in dropdownLinks" :key="index" :href="link.link">{{link.title}}</a>
      </div>
    </div>
  </li>

</template>

<script>
  export default {
    name: 'dropDownNavItemWithProps',
    props: {
     title: {
      type: String,
      default: "",
      required: true,
    }, 
    showDropdown: {
      type: Boolean,
      default: false,
      required: false,
    }, 
    dropdownLinks: {
      type: Array,
      default: [],
      required: true,
    },
  },
  data() {
    return {
      showTheDropdown: false,
    };
  },
  created(){
    this.showTheDropdown = this.showDropdown;
  },
  computed: {
  },
  methods: {
    toggleDropdown(){
      this.showTheDropdown = this.showTheDropdown==true?false:true;
    },
  },
};
</script>
<style type="text/css">

</style>
