<template>
  <li class="nav-item">
    <a class="nav-link collapsed" @click="toggleDropdown">
      <slot name="title"></slot>
    </a>
    <div id="collapsePages" class="collapse show" v-show="showDropdown" >
      <div class="bg-white py-2 collapse-inner rounded">
        <slot name="links"></slot>
      </div>
    </div>
  </li>
</template>

<script>
  export default {
    name: 'sidebarComponentWithSlots',
    props: {
    },
    data() {
      return {
        showDropdown: false,
      };
    },
    methods: {
      toggleDropdown(){
        if(this.showDropdown==true){
          this.showDropdown=false;
        }
        else{
          this.showDropdown=true;
        }

      }
    },
  };
</script>
<style type="text/css">

</style>