<template>

  <div :class="specialClass">

  </div>

</template>

<script>
  export default {
    name: 'ExampleComponent',
    props: {
      prop: {
        type: String,
        default: '',
        required: true,
      },
    },
    created(){
    },
    computed: {
      specialClass() {
        return this.prop+'-elem';
      },
    },
    methods: {
    },
  };
</script>
<style type="text/css">

</style>
