<template>
  <div>

    <div class="container">

      <div class="d-sm-flex align-items-center justify-content-between mb-4 project-heading">
        <h1 class="h3 mb-0">Projektname</h1>

        <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" @click="showCreateTaskModal=true"><i class="fas fa-plus fa-sm text-white-50"></i> Aufgabe hinzufügen</button>

      </div>

      <div class="task-block">

        <task-row v-for="task in tasks" :key="task.id" :task="task" v-if="!isLoading" @reloadTasks="getTasks" @editTask="editTask"/>

        <div class="spinner-class" v-else>
          <circle4></circle4>
        </div>

        <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" @click="showCreateTaskModal=true"><i class="fas fa-plus fa-sm text-white-50"></i> Aufgabe hinzufügen</button>

        <div class="row task-row">
          <div class="col-sm-12">


          </div>
        </div>


      </div>


    </div>

    <create-task-modal v-show="showCreateTaskModal" @closeModal="showCreateTaskModal=false" @reloadTasks="getTasks"/>
    <edit-task-modal v-if="showEditTaskModal" :task="currentSelectedTask" @closeModal="showEditTaskModal=false" @reloadTasks="getTasks"/>

  </div>
</template>

<script>
  import Resource from '@/api/resource';
  import TaskRow from './components/task';
  import EditTaskModal from './components/edit';
  import CreateTaskModal from './components/create';
  import {Circle4} from 'vue-loading-spinner';

  const taskResource = new Resource('tasks');

  export default {
    name: 'Tasklist',
    components: {
      TaskRow,
      EditTaskModal,
      CreateTaskModal,
      Circle4
    },
    data() {
      return {
        /*Array aller Tasks*/
        tasks: null,
        /*currently selected Task*/
        currentSelectedTask: null,
        showEditTaskModal: false,
        showCreateTaskModal: false,
        isLoading: false,
      };
    },
    created(){
      this.getTasks();
    },
    methods: {
      getTasks() {
        this.isLoading = true;
        taskResource.list().then(response => {
          this.tasks = response.data;
        })
        .catch(error => {
          console.log(error);
        })
        .finally(() => {
          this.isLoading = false;
        });
      },
      editTask(task){
        this.currentSelectedTask = task;
        this.showEditTaskModal = true;
      }
    }
  };
</script>
<style type="text/css">

.task-row{
  margin-bottom: 20px;
}

.project-heading{
  margin-top: 40px!important;
  margin-bottom: 30px!important;
}

.project-heading h1{
  color: black;
  font-weight: bold;
}


.task-block .btn-col{
  text-align: right;
}

.inline-element{
  display: inline-flex;
}

.spinner-class{
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.spinner-class .spinner{
  margin: auto;
}
</style>
