<template>
 <div>
  Hallo Welt
</div>
</template>

<script>
  export default {
    name: 'Landingpage',
    components: {
    },
    data() {
      return {
        message: "Hallo Welt",
      };
    },
    created(){
    },
    computed: {
    },
    methods: {
    },
  };
</script>
<style type="text/css">
</style>
