<template>

  <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">


    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

      <div class="topbar-divider d-none d-sm-block"></div>

      <user-menu/>

    </ul>

  </nav>

</template>

<script>
  import UserMenu from './components/userMenu';

  export default {
    name: 'Navbar',
    components: {
      UserMenu,
    },
  };
</script>
<style type="text/css">

</style>
