<template>

  <!-- Nav Item - Alerts -->
  <li class="nav-item dropdown no-arrow mx-1">
    <div class="nav-link dropdown-toggle" role="button" @click="toggleDropdown()">
      <i class="fas fa-bell fa-fw"></i>
      <!-- Counter - Alerts -->
      <span class="badge badge-danger badge-counter">3+</span>
    </div>
    <!-- Dropdown - Alerts -->
    <div class="dropdown-list dropdown-menu show dropdown-menu-right shadow animated--grow-in" v-show="showTheDropdown">
      <h6 class="dropdown-header">
        Alerts Center
      </h6>

      <alert-message v-for="(message,index) in messages" :key="index" :messageElem="message"/>

      <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
    </div>
  </li>


</template>

<script>

  import AlertMessage from './alertMessage';


  export default {

    name: 'alertCenter',
    components: {
      AlertMessage,
    },
    props: {
      showDropdown: {
        type: Boolean,
        default: false,
        required: false,
      },
    },
    data() {
      return {
        showTheDropdown: false,
        messages: [{
          'date':'December 7, 2019',
          'message':'Get going - be a go-getter instead of a slacker!',
          'priority':'high',
        },
        {
          'date':'January 2, 2020',
          'message':'Happy Birthday!',
          'priority':'low',
        },
        {
          'date':'March 22, 2021',
          'message':'New Tasks added to Urlaub2021 by @redbarron123!',
          'priority':'normal',
        }
        ]
      };
    },
    created(){
      this.showTheDropdown = this.showDropdown;
    },
    computed: {
    },
    methods: {
      toggleDropdown(){
        this.showTheDropdown = this.showTheDropdown==true?false:true;
      },
    },
  };
</script>
<style type="text/css">

</style>
