<template>

  <div class="dropdown-item d-flex align-items-center">
    <div class="mr-3">
      <div class="icon-circle" :class="messageColor">
        <i class="fas fa-bell text-white" :class="icon"></i>
      </div>
    </div>
    <div>
      <div class="small text-gray-500">{{messageElem.date}}</div>
      <span :class="showAsBold">{{messageElem.message}}</span>
    </div>
  </div>

</template>

<script>
  export default {
    name: 'alertMessage',
    props: {
      messageElem: {
        type: Object,
        default: null,
        required: true,
      },
    },
    computed: {
      icon(){
        if(this.messageElem != null && this.messageElem.hasOwnProperty('priority')){
          switch(this.messageElem.priority){
            case "high":
            return "fa-radiation-alt";
            break;
            case "normal":
            return "fa-alert";
            break;
            case "low":
            return "fa-bookmark";
            break;
          }

        }
        /*icon to be used if no prio is given*/
        return "fa-alert";
      },
      messageColor(){
        if(this.messageElem != null && this.messageElem.hasOwnProperty('priority')){
          switch(this.messageElem.priority){
            case "high":
            return "bg-primary";
            break;
            case "normal":
            return "bg-warning";
            break;
            case "low":
            return "bg-info";
            break;
          }

        }
        /*icon to be used if no prio is given*/
        return "bg-default";
      },
      showAsBold(){
        if(this.messageElem != null && this.messageElem.hasOwnProperty('priority') && this.messageElem.priority == "high"){
          return "font-weight-bold";
        }
          return "font-weight-normal";
      }
    },
    data() {
      return {
      };
    },
  };
</script>
<style type="text/css">

</style>
