<template>

  <li class="nav-item dropdown no-arrow" v-show="user!==null">
    <div class="nav-link dropdown-toggle" @click="toggleDropdown">
      <i style="margin-right: 5px;" class="fas fa-fw fa-user"></i>
      <span class="mr-2 d-none d-lg-inline text-gray-600 small" v-if="user">{{user.name}}</span>
    </div>
    <!-- Dropdown - User Information -->
    <div class="dropdown-menu show dropdown-menu-right shadow animated--grow-in" v-show="showTheDropdown">
      <a class="dropdown-item" href="#">
        <i class="fas fa-lock fa-sm fa-fw mr-2 text-gray-400"></i>
        Passwort ändern
      </a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
        Logout
      </a>
    </div>
  </li>

</template>


<script>


  export default {

    name: 'userMenu',
    data() {
      return {
        showTheDropdown: false,
      };
    },
    computed: {
      user(){
        return this.$store.getters.getUser;
      }
    },
    created(){
      this.$store.dispatch('loadUser');
    },
    methods: {
      toggleDropdown(){
        this.showTheDropdown = this.showTheDropdown==true?false:true;
      },
    },
  };
</script>

<style type="text/css">

</style>
