<template>

  <nav class="navbar-landing navbar navbar-expand navbar-light topbar mb-4 static-top shadow">

    <router-link :to="{ name: 'Home' }" class="sidebar-brand d-flex align-items-center justify-content-center">
      <div class="sidebar-brand-icon">
        <img src="/images/logo.png" class="logo" alt="Logo-Simple Task"/>
      </div>
    </router-link>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

      <li class="nav-item">
        <router-link :to="{ name: 'Login' }">Anmelden</router-link>
      </li>
      <li class="nav-item">
        <router-link :to="{ name: 'Register' }">Registrieren</router-link>
      </li>

    </ul>

  </nav>

</template>

<script>
  export default {
    name: 'Navbar',
    props: {
    },
    created(){
    },
    computed: {
    },
    methods: {
    },
  };
</script>
<style type="text/css">
.navbar-landing{
  background-color: #4e73df!important;
}

.navbar-landing .nav-item{
  margin-left: 20px;
}

.navbar-landing a{
  color: #fff;
}

.navbar-landing a:hover{
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
</style>
