<template>
  <div>

    <div class="register-container" v-if="!isLoading">
      <form id="register">
        <h2>Registrieren</h2>
        <div class="row">
          <div class="col-md-12 form-group">
            <input type="text" class="form-control" placeholder="Vor- und Nachname" v-model="user.name">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 form-group">
            <input type="text" class="form-control" placeholder="E-Mail Adresse" v-model="user.email">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 form-group">
            <input type="password" placeholder="Passwort" class="form-control" v-model="user.password">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 form-group">
            <input type="password" placeholder="Passwort wiederholen" class="form-control" v-model="user.confirmPassword">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 form-group">
            <input type="submit" value="Registrieren" class="btn btn-block btn-register" @click="registerUser()"/>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <span class="login-now">Bereits registriert? Jetzt <router-link :to="{ name: 'Login' }">Anmelden</router-link>!</span>
          </div>
        </div>
      </form>
    </div>

    <div class="spinner-class" v-if="isLoading">
      <circle4></circle4>
    </div>


  </div>
</template>

<script>
  import { register } from '@/api/auth';
  import {Circle4} from 'vue-loading-spinner';

  export default {
    name: 'Register',
    components: {
      Circle4
    },
    data() {
      return {
        isLoading: false,
        user: {
          name: '',
          email: '',
          password: '',
          confirmPassword: '',
        },
      };
    },
    methods: {
      register,
      registerUser(){
        this.isLoading = true;
        register(this.user).then(() => {
          alert("Registrierung erfolgreich abgeschlossen");
        })
        .catch(error => {
          console.log(error);
        })
        .finally(() => {
          this.isLoading = false;
        });
      },
    }
  };
</script>
<style type="text/css">

.register-container{
  width:300px;
  max-width:100%;
  margin:50px auto;
}

.register-container h2{
  text-align:center;
  font-size:20px;
  margin-bottom: 30px;
}

.register-container .btn-register{
  background-color:#4e73df;
  color:#fff;
}

.register-container .login-now{
  width: 100%;
  text-align: center;
  font-size: 12px;
  display: block;
}
</style>
