<template>
  <div>
    <!-- Page Wrapper -->
    <div id="wrapper" class="layout">

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

          <navbar/>

          <!-- Begin Page Content -->
          <div class="container-fluid">

            <transition name="fade-transform" mode="out-in">
              <router-view :key="key" />
            </transition>

          </div>
          <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <my-footer/>

      </div>
      <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

  </div>

</template>

<script>
  import MyFooter from '@/components/Footer';
  import Navbar from './components/navbar';

  export default {
    name: 'Layout',
    components: {
      MyFooter, Navbar,
    },
    created(){
    },
    data() {
      return {
        year: new Date().getFullYear(),
      };
    },
    computed: {
      key() {
        return this.$route.fullPath;
      },
    },
    methods: {
    },
  };
</script>
<style type="text/css">


</style>
