<template>

  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <router-link :to="{ name: 'Home' }" class="sidebar-brand d-flex align-items-center justify-content-center">
      <div class="sidebar-brand-icon">
        <img src="/images/logo.png" class="logo" alt="Logo-Simple Task"/>
      </div>
    </router-link>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <router-link class="nav-link" :to="{name:'Home'}">
        <i class="fas fa-fw fa-home"></i>
        <span>Übersicht</span></router-link>
      </li>


      <navbar-item-with-slots :show-dropdown="true">
        <template v-slot:title>
          <i class="fas fa-fw fa-tasks"></i>
          <span>Projekte</span>
        </template>
        <template v-slot:links>
          <router-link class="collapse-item" :to="{name:'Login'}">
            Login
          </router-link>
          <router-link class="collapse-item" :to="{name:'Register'}">
            Register
          </router-link>
        </template>
      </navbar-item-with-slots>

    </ul>

  </template>
  <script>
    import NavbarItemWithSlots from './components/dropDownNavItemWithSlots';

    export default {
      name: 'Sidebar',
      components: {
        NavbarItemWithSlots,
      },
      data() {
        return {
          showFavorites: false,
          showProjects: false,
          dropDown1Title: "Favoriten",
          dropDownLinks: [{'title':'kjugo','link':'https://kjugo.com'},{'title':'Software by Design','link':'https://software-by-design.de'}],
        };
      },
    };
  </script>
  <style type="text/css">

</style>
